@model IEnumerable<AlterdataVotador.Models.MelhoriasVotar>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeModulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MelhoriaArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantVotos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeModulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MelhoriaArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantVotos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
